<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link {{ isRouteActive('/admin/bebida') }}" href="/admin/bebida">Bebidas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {{ isRouteActive('/admin/sabor') }}" href="/admin/sabor">Sabores</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {{ isRouteActive('/admin/endereco') }}" href="/admin/endereco">Enderecos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {{ isRouteActive('/admin/funcionario') }}" href="/admin/funcionario">Funcionário</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {{ isRouteActive('/admin/cliente') }}" href="/admin/cliente">Cliente</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {{ isRouteActive('/admin/pizza') }}" href="/admin/pizza">Pizza</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {{ isRouteActive('/admin/venda') }}" href="/admin/venda">Venda</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Sair</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
