<section>
<div class="container">
    <h3 class="alert">Clientes</h3>
    <button type="button" class="btn btn-primary" (click)="adicionar(modal1)">Adicionar</button>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dentro do loop *ngFor para listar os clientes -->
                    <tr *ngFor="let cliente of lista; let i = index">
                        <th scope="row">{{ cliente.id }}</th>
                        <td>{{ cliente.nomeCliente }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>
                            <ng-container *ngIf="cliente.endereco && cliente.endereco.length > 0; else noAddress">
                              <ul>
                                <li *ngFor="let endereco of cliente.endereco">
                                  {{ endereco.bairro }}, {{ endereco.rua }}, {{ endereco.numero }}
                                </li>
                              </ul>
                            </ng-container>
                            <ng-template #noAddress>
                              Endereço não informado
                            </ng-template>
                          </td>
                          
                        <td>
                            <button class="btn btn-primary" (click)="editar(modal1, cliente, i)">Editar</button>
                            <button class="btn btn-danger" (click)="deletar(cliente.id)">Excluir</button>
                        </td>
                        <td *ngIf="modoLancamento"> <button type="button" class="btn btn-primary" (click)="lancamento( cliente)">Lançar</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</section>
<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detalhes do Cliente</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-clientedetails [cliente]="clienteSelecionadoParaEdicao"
            (retorno)="addOuEditarCliente($event)"></app-clientedetails>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
    </div>
</ng-template>