<section class="section">
    <div class="container">
        <h1 class="nome_pizzaria">Midnight Flavor Pizza</h1>
        <p class="tagline">Sabores que Encantam a Noite!</p>
        
        <div class="row justify-content-center">
            <form (ngSubmit)="logar()" class="login-form">
                <div class="form-group">
                    <label for="loginInput">Login:</label>
                    <input type="text" class="form-control" id="loginInput" name="loginInput" [(ngModel)]="usuario.login" required>
                </div>
                
                <div class="form-group">
                    <label for="senhaInput">Senha:</label>
                    <input type="password" class="form-control" id="senhaInput" name="senhaInput" [(ngModel)]="usuario.senha" required>
                </div>
        
                <button type="submit" class="btn btn-primary">Logar</button>
            </form>
        </div>
        
    </div>
</section>
